*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background-color:grey;
}

.container{
max-width:900px;
margin:0 auto;
}

.apply-box{
max-width:600px;
padding:20px;
background-color:white;
margin:0 auto;
margin-top:20px;
border-radius:10px
}

.form_container{
display:grid;
grid-template-columns:(auto-fit,minmax(200px,1fr)
}
.button-container{
color:red;
}